* {
  box-sizing: border-box;
  transition: 500ms;
}

:root {
  --vic-red: #c70000;
}

.dark-theme {
  --background-clr: #000;
  --menu-background-clr: rgba(0, 0, 0, 0.965);
  --soundbard-text-clr: #000;
  --sound-btn-clr: #fff;
  --sound-btn-shadow: #c7000088;
  --menu-text-clr: #fff;
  --highlight-clr: #c70000;
  --menu-btn-clr: #fbf7f5;
}

.light-theme {
  --background-clr: #c7d8e0;
  --menu-background-clr: #c7d8e0ef;
  --soundbard-text-clr: #000;
  --sound-btn-clr: #fff;
  --sound-btn-shadow: rgba(99, 99, 99, 0.2);
  --menu-text-clr: #000;
  --highlight-clr: #173a67;
  --menu-btn-clr: #fff;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-clr);
  font-family: "Oswald", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background-clr);
  color: var(--menu-text-clr);
  padding: 1em;
  gap: 1em;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

header img {
  height: 40px;
  width: auto;
}

header span {
  font-size: 0.8rem;
}

#nav-btn {
  background: none;
  border: none;
  color: var(--menu-text-clr);
  border-radius: 4px;
  padding: 0.3em;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  left: 0;
  padding: 7em 1em 1em;
  background: var(--menu-background-clr);
  right: 0;
  min-height: 100vh;
  z-index: -1;
}

.menu-closed {
  display: none;
}

.menu-btn {
  background: var(--menu-btn-clr);
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 65%;
  max-width: 300px;
}

.nav-list li + li {
  margin-top: 1em;
}

.nav-list-icon {
  color: var(--highlight-clr);
  margin-right: 0.4em;
}

.nav-list button {
  font-family: inherit;
  padding: 0.6em 1.2em;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  letter-spacing: 1px;
}

.nav-list button + button {
  margin-left: 1em;
}

#grid-size,
#audio-volume {
  width: 100%;
}

.sound-container {
  display: grid;
  padding: 0 1em 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 1em;
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

h1 span {
  font-size: 0.5em;
}

.sound-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: var(--sound-btn-shadow) 0px 10px 8px 0px;
  -webkit-box-shadow: var(--sound-btn-shadow) 0px 10px 8px 0px;
  -moz-box-shadow: var(--sound-btn-shadow) 0px 10px 8px 0px;
  background: var(--sound-btn-clr);
  position: relative;
  transition: 200ms;
  font-family: inherit;
  overflow: hidden;
}

.sound-btn:hover,
.sound-btn:focus {
  background-color: #f0e2db;
}

.sound-btn:disabled {
  opacity: 0.8;
}

.active:after {
  font-family: "Font Awesome 5 Free";
  content: "\f144";
  font-weight: 400;
  position: absolute;
  top: 5px;
  right: 5px;
  animation: isPlaying 1s infinite linear alternate;
}

.sound-favorite::before {
  content: "❤️";
  position: absolute;
  top: 5px;
  left: 5px;
}

.no-favorites-text {
  color: var(--menu-text-clr);
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.no-favorites-icon {
  color: var(--highlight-clr);
  font-size: 2em;
  grid-column: 1 / -1;
  align-self: start;
  text-align: center;
  margin: 0;
  opacity: 0.7;
}

/* .sound-progress progress[value] {
  width: 250px;
  height: 20px;
} */

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  border: none;
}
/* .favorite-sound-icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em;
} */

/* .quote-container {
  text-align: center;
}

.quote-container p {
  margin: 0;
}

.quote-text {
  font-weight: 400;
  font-style: italic;
}

.quote-text::before {
  content: '"';
  margin-right: 0.4em;
  color: var(--highlight-clr);
}

.quote-text::after {
  content: '"';
  margin-left: 0.4em;
  color: var(--highlight-clr);
}

.quote-owner {
  font-weight: 400;
  color: var(--highlight-clr);
} */

@keyframes isPlaying {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
